{% extends 'base.html' %}

{% block body1 %}
<div class="container-fluid">
  <div class="row main-modal">
    <div class="col-lg-5 offset-lg-7 col-md-10 offset-md-1 col-sm-10 offset-sm-1 mm-text">
      <h1 class="mm-head font-weight-bold mb-4">Better Lives. Together</h1>
      <p>We have everything you need to live better with Parkinson's.This is the initiative that offers testing the
        presence of Parkinson's disease and get the latest news on treatments, researches and other updates.

      </p>
      <a href="#skill"><button type="button "
          class="btn text-light text-uppercase font-weight-bold mt-3 text-capitalise px-5 py-2 "
          style="background-color:rgb(86 206 191) ;">Test here</button></a>
    </div>
  </div>
</div>
{% endblock %}



{% block body2 %}
<div class="row my-4 pl-5 ml-5 " style="justify-content: center; width:50%">
  <div class="mb-5">

    <form method="POST" action="{{url_for('output')}}" enctype = "multipart/form-data"> 
      <label for="ipfile" class="mb-4 mt-2">Choose your report file:</label>
      <br>
      <input type="file" id="ipfile" name="ipfile" accept=".txt">
      <br><br>
      <input type="submit" value="Submit"
        class="btn text-light text-uppercase font-weight-bold mt-3 text-capitalise px-5 py-2 "
        style="background-color:rgb(86 206 191) ;">
    </form>
  </div>
</div>

{% endblock %}