{% extends 'base.html'%}

{% block body1 %}
    <div class="container-fluid" >
        <div class="row output-row">
            <div class=" mm-text" style="width: 50%;text-align:center">
                <h3 class="mm-head font-weight-bold mb-4">{{text}}</h3>
                <p>While living with PD can be challenging, there are many things you can do to maintain and 
                  improve your quality of life and live well with Parkinson's disease.There is no standard treatment
                   for Parkinson’s disease (PD). Treatment for each person with Parkinson's is based on his or her symptoms.

                </p>
                <a href="/"><button type="button " class="btn text-light text-uppercase font-weight-bold mt-3 text-capitalise px-5 py-2 " style="background-color:rgb(86 206 191) ;">Go to Home Page</button></a>
            </div>
        </div>
    </div>
{% endblock %} 
